# ~/.secrets/sssh/config.yaml
endpoint: "https://s3.amazonaws.com"   # or your MinIO URL e.g. "http://127.0.0.1:9000"
bucket: "my-ssh-keys"
minio_user: "my-minio-user"            # the access key / username. Password will be prompted at runtime.

aliases:
  machine1:
    target: "ec2-user@10.0.0.123"
    s3_key: "machine1"   # optional - if omitted, uses the alias name directly (flat storage)

  prod:
    target: "root@prod.example.com"
    s3_key: "prod"     # optional - if omitted, uses the alias name directly

  # Direct aliases without S3 (uses normal ssh auth)
  local:
    target: "sveinn@devbox"
